<form method="post" action="{{ path('drug_delete', {'id': drug.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ drug.id) }}">
    <button class="btn">Delete</button>
</form>
