{% extends 'base.html.twig' %}

{% block title %}Edit {{ drug.name }}{% endblock %}

{% block body %}
    <h1>Edit {{ drug.name }}</h1>

    {{ include('drug/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('drug_index') }}">back to list</a>

    {{ include('drug/_delete_form.html.twig') }}
{% endblock %}
