{% extends 'base.html.twig' %}

{% block title %}Drug index{% endblock %}

{% block body %}
    <h1>List of drugs</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for drug in drugs %}
            <tr>
                <td>{{ drug.id }}</td>
                <td>{{ drug.name }}</td>
                <td>{{ drug.price | price }}</td>
                <td>
                    <a href="{{ path('drug_show', {'id': drug.id}) }}">show</a>
                    <a href="{{ path('drug_edit', {'id': drug.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('drug_new') }}">Create new</a>
{% endblock %}
