{% extends 'base.html.twig' %}

{% block title %}{{ drug.name }}{% endblock %}

{% block body %}
    <h1>{{ drug.name }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ drug.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ drug.name }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ drug.price | price }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('drug_index') }}">back to list</a>

    <a href="{{ path('drug_edit', {'id': drug.id}) }}">edit</a>

    {{ include('drug/_delete_form.html.twig') }}
{% endblock %}
