{% extends 'base.html.twig' %}

{% block title %}Manufacturer index{% endblock %}

{% block body %}
    <h1>List of manufacturers</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Website</th>
            </tr>
        </thead>
        <tbody>
        {% for manufacturer in manufacturers %}
            <tr>
                <td>{{ manufacturer.id }}</td>
                <td>{{ manufacturer.name }}</td>
                <td><a href="{{ manufacturer.website }}" target="_blank">{{ manufacturer.website }}</a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
