{% extends 'base.html.twig' %}

{% block title %}ActiveSubstance index{% endblock %}

{% block body %}
    <h1>List of active substances</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
        {% for active_substance in active_substances %}
            <tr>
                <td>{{ active_substance.id }}</td>
                <td>{{ active_substance.name }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
