<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Drugs{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    {% endblock %}
</head>
<body>
<header>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand" href="{{ path('homepage') }}">
            <h2 class="pl-2 d-inline font-weight-bold" style="color: #444;">Drugs</h2>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('manufacturer_index') }}">Manufacturers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('active_substance_index') }}">Active Substances</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<main role="main" class="container">
    {% block body %}{% endblock %}
</main>

<footer class="footer">
    <div class="container">
        <span class="text-muted">Don't do drugs, kids!</span>
    </div>
</footer>
{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>
{% endblock %}
</body>
</html>
